<!-- <div ng-if="!canceled">
  <material-list>
    <div class="material-tile-content">
      <div flex="20" layout="horizontal" layout-align="center">
        <span class="datestyle">10/25/2014</span>
      </div>
      <div flex layout="horizontal" layout-align="center center">
        <div flex layout="vertical" layout-align="center center">
          <span class="">{{ message.message }}</span>
          <span class="">Start Date: {{ message.date.start }}</span>
          <span class="">End Date: {{ message.date.end }}</span>
            <div class="sitter-popup-buttons">
              <section layout="vertical" layout-sm="horizontal" layout-align="center center">
                <span class="">Status: {{ requestStatus }}</span>
                <material-button class="button-call-to-action-color cancel-button" ng-click="cancelRequest()">Cancel</material-button>
              </section>
            </div>
        </div>
      </div>
    </div>
    <material-divider inset ng-if="!$last"></material-divider>
  </material-list>
</div> -->

<div ng-if="!declined">
  <material-list>
    <div class="material-tile-content">
      <div flex="20" layout="horizontal" layout-align="center">
        <span class="datestyle">10/25/2014</span>
      </div>
      <div flex layout="horizontal" layout-align="center center">
        <div flex layout="vertical" layout-align="center center">
          <span class="">{{ message.message }}</span>
          <span class="">Start Date: {{ message.date.start }}</span>
          <span class="">End Date: {{ message.date.end }}</span>
          <div class="sitter-popup-buttons">
            <section layout="vertical" layout-sm="horizontal" layout-align="center center">
              <material-button class="accept-button" ng-click="acceptRequest()">Accept</material-button>
              <material-button class="button-call-to-action-color cancel-button" ng-click="declineRequest()">Decline</material-button>
            </section>
          </div>
        </div>
      </div>
    </div>
    <material-divider inset ng-if="!$last"></material-divider>
  </material-list>
</div>
