<div ng-if="transaction.transaction_type==='hired'">
  <material-list>
    <div class="material-tile-content">
      <div flex layout="horizontal" layout-align="center center">
        <div flex layout="vertical" layout-align="center center">
          <span class="activityStlye">{{ transaction.transaction_name }} watched your pet</span>
          <span class="activityStlye">Total Cost: ${{ transaction.transaction_cost }}</span>
          <material-button class="rate-button button-call-to-action-color" ng-click="rateUser($event)">Rate this user</material-button>
          <!-- {{rating}} -->
        </div>
      </div>
    </div>
    <material-divider inset ng-if="!$last"></material-divider>
  </material-list>
</div>

<div ng-if="transaction.transaction_type==='watched'">
  <material-list>
    <div class="material-tile-content">
      <div flex layout="horizontal" layout-align="center center">
        <div flex layout="vertical" layout-align="center center">
          <span class="activityStlye">You watched {{ transaction.transaction_name }}'s pet</span>
          <span class="activityStlye">Earned: ${{ transaction.transaction_cost }}</span>
          <material-button class="rate-button button-call-to-action-color" ng-click="rateUser($event)">Rate this user</material-button>
          <!-- {{rating}} -->
        </div>
      </div>
    </div>
    <material-divider inset ng-if="!$last"></material-divider>
  </material-list>
</div>
