<div ng-include=" 'scripts/components/navbar/navbar.html' "></div>
<div ng-controller="SitterProfileController">
  <div layout="vertical" layout-align="center center" style="padding:10px; background-color: #3D7899; color:white;">
    <div>
      Find pet sitters in your area, 24/7!
    </div>
  </div>
  <!-- Profile container -->
  <div class="sitter-profile-container" flex>
    <!-- 3 Column Layout-->
    <div flex layout="horizontal" layout-sm="horizontal" layout-align="center">


        <!--###### Left Column Layout #####-->

        <div class="sitter-profile-left" layout="vertical" layout-sm="vertical" layout-align="start" flex="25">
          <span class="sitter-profile-name">${{sitter.cost}} purr day</span>
          <span> {{sitter.location}} </span>
          <material-button class= "button-call-to-action-color" style="color:white;">
            Schedule Now
          </material-button>
          <div layout="horizontal" style="margin-top:10px; margin-bottom:10px">
              <img style="margin: 3px" ng-repeat="item in getRating(sitter) track by $index" ng-src={{item}}>
            </div>
          <img class="sitter-profile-photo" src="{{sitter.photo}}">

            <span class="sitter-profile-name">{{sitter.name}}</span>

            <div layout="horizontal" style="margin-top:10px" layout-align="center center">
              <div flex style="margin-left: 20%">
                <img class="petSitter" src="../assets/images/greendog.png" ng-show="{{sitter.dogs}}">
                <div ng-show="{{sitter.dogs}}" class="petIconSitter">will watch</div>
                <img class="petSitter" src="../assets/images/reddog.png" ng-hide="{{sitter.dogs}}">
                <div ng-hide="{{sitter.dogs}}" class="petIconSitter">won't watch</div>
              </div>

              <div flex>
                <img class="petSitter" src="../assets/images/greencat.png" ng-show="{{sitter.cats}}">
                <div ng-show="{{sitter.cats}}" class="petIconSitter">will watch</div>
                <img class="petSitter" src="../assets/images/redcat.png" ng-hide="{{sitter.cats}}">
                <div ng-hide="{{sitter.cats}}" class="petIconSitter">won't watch</div>
              </div>
              
              </material-button>
            </div>

        </div>
        <!--###################################################-->

        <!-- Right Column Layout -->
        <div flex class="sitter-profile-center" layout="vertical" layout-align="start">
          <!-- Bio -->
          <div flex layout="vertical" layout-sm="vertical" class="sitter-bio-container">
            <material-toolbar class="center-bio-toolbar">
              <h2 class="material-toolbar-tools" layout-alight="center center" layout="horizontal">
                <span flex="10">Bio</span>
                <span flex="85">
                  <material-button ng-click="backToSearch()" class="button-call-to-action-color" style="color:white; float: right">
                    Back
                  </material-button>
                </span>
              </h2>
            </material-toolbar>
            <material-content class="material-content-padding">
            {{sitter.bio}}
            </material-content>
          </div>

          <!-- Google Maps -->
          <div flex class="sitter-map-container">
            <googlemap onCreate="mapCreated(map)"></googlemap>
          </div>

        </div>
        <!-- ####################################### -->
        
  </div>

</div>
