<div ng-include=" 'scripts/components/navbar/navbar.html' "></div>
<div ng-controller="SitterProfileController">
  <div layout="vertical" layout-align="center center" style="padding:10px; background-color: #3D7899; color:white;">
    <div>
      Find pet sitters in your area, 24/7!
    </div>
  </div>
  <!-- Profile container -->
  <div class="sitter-profile-container" flex>
    <!-- 3 Column Layout-->
    <div flex layout="horizontal" layout-sm="horizontal" layout-align="center">


        <!--###### Left Column Layout #####-->

        <div class="sitter-profile-left" layout="vertical" layout-sm="vertical" layout-align="start" flex="33">
          <span class="sitter-profile-name">$50/night!</span>
          <span> San Francisco </span>
          <material-button class= "button-call-to-action-color" style="color:white; margin-bottom:40px">
            Schedule Now
          </material-button>
          <img class="sitter-profile-photo" src="https://avatars2.githubusercontent.com/u/7147319?v=2&s=400">

            <span class="sitter-profile-name">Wil Andrade</span>
            <div layout="horizontal">
              <img class="sitter-profile-rating" src="../../assets/images/paw.png">
              <img class="sitter-profile-rating" src="../../assets/images/paw.png">
              <img class="sitter-profile-rating" src="../../assets/images/paw.png">
              <img class="sitter-profile-rating" src="../../assets/images/paw.png">
              <img class="sitter-profile-rating" src="../../assets/images/paw.png">
            </div>

            <div layout="horizontal" style="margin-top:10px">
              <material-checkbox disabled aria-label="Dogs" ng-model="data.cb4" ng-init="data.cb4=true">
                Dogs
              </material-checkbox>
              <material-checkbox disabled aria-label="Cats" ng-model="data.cb4" ng-init="data.cb4=true">
                Cats
              </material-checkbox>
            </div>

        </div>
        <!--###################################################-->

        <!-- Middle Column Layout -->
        <div flex class="sitter-profile-center" layout="vertical" layout-align="start">
          <!-- Bio -->
          <div flex layout="vertical" layout-sm="vertical" class="sitter-bio-container">
            <material-toolbar class="center-bio-toolbar">
              <h2 class="material-toolbar-tools" layout-alight="center center">
                <span>Bio</span>
              </h2>
            </material-toolbar>
            <material-content class="material-content-padding">
              Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.
              <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
              <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
              <p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>

            </material-content>
          </div>
          <!-- Google Maps -->
          <div flex style="border: 4px solid black; ">
            <img style="width:100%" src="http://www.sfgate.com/blogs/images/sfgate/ontheblock/2009/07/23/Google_re_map400x394.JPG">
          </div>


        </div>
        <!-- ####################################### -->
        
  </div>

<!-- <div flex class="sitter-profile-right" style="background:yellow;">
          <img src="http://www.sfgate.com/blogs/images/sfgate/ontheblock/2009/07/23/Google_re_map400x394.JPG">
        </div> -->
</div>
