.sitter-profile-center {
  padding:30px;
  width:100%;
  /*border: 1px solid black;*/
}

.sitter-profile-left{
  padding:30px;
  width:100%;
  min-width: 400px;
  max-width: 450px;
}

.sitter-profile-right{
  padding:30px;
  width:100%;
  /*min-width: 300px;*/
}

.sitter-bio-container{
  margin-bottom: 20px; 
  background-color: #E0F0F2; 
  max-height:40vh
}

.center-bio-toolbar{
  font-size: 30px;
  font-weight: bold;
  background-color: #3D7899;
  color: white;
  text-align: center;
}

.sitter-profile-photo{
  width: 100%;
  box-shadow: black 3px 3px 3px;
  border: 4px solid black; 
  border-radius: 100px;
}

.sitter-profile-list{
  margin: 0px;
}
.sitter-profile-name{
  font-size: 50px;
  font-weight: bold;
  margin-top:10px;
  margin-bottom:0px;
}
.sitter-profile-rating{
  margin-top: 0px;
  margin-bottom:0px;
  height: 30px;
  width: 30px;
}