<div ng-include=" 'scripts/components/navbar/navbar.html' "></div>
<div ng-controller="SearchController">
  <p>This is the search page</p>

  <p ng-show="sitters.length <= 0">Sitters are unavailable</p>
<!--   <p>Stub Data is: {{data}}</p>
  <div class="sittercard" ng-repeat="sitter in data">
  	<p>Name: {{sitter.name}}</p>
  	<p>Location: {{sitter.location}}</p>
  	<img class="image-style" ng-src={{sitter.photo}}>
  	<p>Cost: {{sitter.cost}}</p>
  	<p>Rating: {{sitter.rating}}</p>
  </div>
  <table>
  	<tr>
  		<th>Name</th>
  		<th>Location</th>
  		<th>Photo</th>
  		<th>Cost</th>
  		<th>Rating</th>  		
  	</tr>
  	<tr ng-repeat="sitter in data">
	  	<td>{{sitter.name}}</td>
	  	<td>{{sitter.location}}</td>
	  	<td>{{sitter.photo}}</td>
	  	<td>{{sitter.cost}}</td>
	  	<td>{{sitter.rating}}</td>
  	</tr>
  </table> -->
</div>
