.sittercard {
	width: 300px;
	height: 300px;
	border: 1px solid black;
}

.wrapper {
  margin: auto;
}

.search-layout {
  padding: 1% 10%;
  position: relative;
  background-color: #f8f9fa;

}

.tabsBackground {
  background: #4f84a4;
  padding-bottom: 20px;
  color: white;
}

.filterStyle {
  margin: 0px 10px;
}

.image-center { 
  width: 100%;
}

.outsideContainer {
  margin-bottom: 50px;
  width: 100%;
  box-sizing: border-box;
  display: block;
  clear: both;
  overflow:hidden
}

.box2 {
  background:#eff1f3;
}

.box1:hover {
  background-color: #f1f3f4;
  box-shadow: #848485 6px 6px 16px;
}

.box1 {
  margin: 10px;
  width: 250px;
  float: left;
  min-width:250px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  box-shadow: gray 1px 1px 5px;
}

.flexClass {
  width: 100%
}

.sitter-cards {
  padding:10px;
  width:300px;
  float: left;
  box-sizing: border-box;
  display: block;
  clear: both;
  background-color: #E0F0F2;
  border: 1px solid #3D7899;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 50px;
  height: 50;
  margin: 16px; 
}

.inputFormSearchPage {
  display: block;
  width: 100%;
  height: 60px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sitter-container{
  background: #EFEFEF;
}

.toolbar_fill{
  height:100%;
  background: #899F9F;/*(0-255,0-255,0-255)*/
}

.pet {
  height: 50px;
  margin-left: 20%;
  opacity: 0.6;
  width: 50px;
}

.sitter-card-name{
  border-top: 1px solid #d7d7d7;
  text-align:center;
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  margin: 10px 0;
}

.sitter-card-city{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.divider {
  height: 3px;
  border-radius: 20px;
  color: #455A98;
  margin: 10px 10px;
  background-color: #c4c6c8;
}

.perday{
  text-align:center;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0px;
}

.sitter-card-rate{
  text-align:center;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 3px 0;
}

.sitter-card-rating{
  margin-top: 40px;
  height: 25px;
  width: 25px;
}

.image-style {
  border-radius: 50%;
  border: 1px solid #ddd;
  width: 150px;
  height: 150px;
  margin: 10px auto;
  box-shadow: black 1px 1px 5px;
}
.sitter-card {
  width: 300px;
  height: 250px;
  min-width: 200px;
  min-height: 200px;  
  float: left;
  background: #EFEFEF;;
}

.searchHolder {
  margin-left: 5%;
  margin-right: 5%;
}

.searchFormText {
  color: black;
}


/* Animation for filters on search page */
.repeated-item.ng-enter, .repeated-item.ng-move {
 -webkit-transition:0.5s linear all;
 -moz-transition:0.5s linear all;
 -o-transition:0.5s linear all;
 transition:0.5s linear all;
 opacity:0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
 opacity:1;
}

.repeated-item.ng-leave {
 -webkit-animation:0.5s my_animation;
 -moz-animation:0.5s my_animation;
 -o-animation:0.5s my_animation;
 animation:0.5s my_animation;
}

@keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

/*
 Unfortunately each browser vendor requires
 its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

@-moz-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}

@-o-keyframes my_animation {
 from { opacity:1; }
 to { opacity:0; }
}
/* End Animation CSS */