<div ng-include=" 'scripts/components/navbar/navbar.html' "></div>
<div ng-controller="SearchController">

  <div class="tabsBackground" flex layout="horizontal" layout-sm="horizontal" layout-align="center">
    <material-toolbar>
      <section layout="horizontal" layout-sm="vertical" layout-align="center center">
        <!--<span style="font-size: 35px; font-weight: bold; font-style: italic; margin-top: 10px; margin-bottom: 10px">Narrow Your Search Results:</span>-->
          <div class="filterStyle" flex layout="horizontal">
            <material-content layout="horizontal" layout-align="center center" style="overflow-y: hidden">
              <form ng-submit="setPetSitterInfo(petSitter)" class="searchFormClass">
                <ig fid="t1" label="Enter your city" type="text" class="material-input-group-theme-light material-input-group-inverted"></ig>
              </form>
            <material-button class="button-customize button-call-to-action-color">Search</material-button>
            </material-content>
            <!-- City:
            <form name="cityInput" flex-layout="horizontal" ng-submit="setCity(cityName)">
                <input flex class="inputFormSearchPage" type="text" ng-model="letter" placeholder="Enter your city">
                <material-button flex class= "button-customize button-call-to-action-color">Search</material-button>
            </form> -->
          </div>
        <material-button ng-click="filters= !filters" class="search-button button-call-to-action-color">Narrow Your Results</material-button>

        <div layout="horizontal" ng-show="filters" class="item-animate">

          <div class="filterStyle" flex layout="vertical" layout-align="center center">
            Max Price:
            <form name="cityInput" ng-submit="setCity(cityName)">
                <input type="text" ng-model="maxPrice" placeholder="Enter your city">
            </form>
          </div>    
          <div class="filterStyle" flex layout="vertical" layout-align="center center">
            Minimum Rating:
            <material-checkbox ng-model="dogFilter" ng-click="petSitter.petToWatchObject.dog=!petSitter.petToWatchObject.dog" aria-label="Checkbox 1">
              Dog
            </material-checkbox>

            <material-checkbox ng-model="catFilter" ng-click="petSitter.petToWatchObject.cat=!petSitter.petToWatchObject.cat" aria-label="Checkbox 2">
              Cat
            </material-checkbox>
          </div>
        </div>
      </section>
    </material-toolbar>
  </div>

  <div class="slider">
    <div flex="50" offset="25">
      <material-slider>
        <input type="range" ng-model="price" min="5" max="300">{{price}}
      </material-slider>
    </div>
  </div>
  
  <div flex class="search-layout">

    <div id="wrapper" style="overflow: hidden; width: 100%">
        <div class="box1 repeated-item" ng-repeat="sitter in sitters | matchMaxPrice:maxPrice | dogFilterer:dogFilter:catFilter">
          <div ng-click="GoToProfile(sitter)" style="width: 100%; height: 100%; cursor: pointer;">
          <p class="sitter-card-city">{{sitter.name}}</p>
          <center>
            <img class="image-style" ng-src="{{sitter.photo}}">
          </center>
          <div style="text-align: center;">
            <img style="margin: 3px" ng-repeat="item in getRating(sitter) track by $index" ng-src={{item}}>
          </div>
        <div class="box2">
          <p class="sitter-card-name">{{sitter.location}}</p>
          <div class="divider"></div>
          <div layout="horizontal">
            <div flex>
              <img class="pet" src="../assets/images/greencat.png" ng-show="{{sitter.cats}}">
              <img class="pet" src="../assets/images/redcat.png" ng-hide="{{sitter.cats}}">
            </div>
            <div flex>
              <p class="sitter-card-rate">${{sitter.cost}}</p>
              <p class="perday">purr day</p>
            </div>
            <div flex>
              <img class="pet" src="../assets/images/greendog.png" ng-show="{{sitter.dogs}}">
              <img class="pet" src="../assets/images/reddog.png" ng-hide="{{sitter.dogs}}">
            </div>
          </div>
        </div>
      </div>
  </div>
    </div>
  </div>
</div>
