<div ng-include=" 'scripts/components/navbar/navbar.html' "></div>
<div ng-controller="SearchController">

  <div class="tabsBackground" flex layout="horizontal" layout-sm="vertical" layout-align="center">
    <material-toolbar>
      <section layout="vertical" layout-sm="vertical" layout-align="center center">
          <div class="filterStyle" flex layout="vertical" layout-align="center center">
            <material-content layout-align="center center" style="overflow-y: hidden">
              <form class="searchFormParent" ng-submit="newSearchCity(cityName)">
                <input class="searchFormStyle" type="text" ng-model="cityName" placeholder="Enter your city">
              </form>
            </material-content>
            <material-button ng-click="newSearchCity(cityName)" class="buttonMargin button-customize button-call-to-action-color">Search</material-button>
          </div>
        <material-button ng-click="filters=!filters" class="search-button button-call-to-action-color">
          <i class="fa fa-arrow-circle-down fa-3x"></i>
        </material-button>

        <material-divider></material-divider>

        <div style="width: 100%" layout="vertical" layout-sm="vertical" layout-align="center" ng-show="filters" class="item-animate">

        <!-- <hr width="80%"> -->
          <div class="filterStyle" flex layout="vertical" layout-align="center center">
            Maximum Price:
            <material-radio-group class="radioButtons" flex layout="horizontal" ng-model="maxPrice">

                <material-radio-button ng-model="maxPrice" flex value="20" aria-label="Label 1">
                  $20
                </material-radio-button>

                <material-radio-button ng-model="maxPrice" flex value="50" noink>
                  $50
                </material-radio-button>

                <material-radio-button ng-model="maxPrice" flex value="75" aria-label="Label 3">
                  $75
                </material-radio-button>

                <material-radio-button ng-model="maxPrice" flex value="1000" aria-label="Label 3">
                  $100+
                </material-radio-button>

              </material-radio-group>
          </div>    
          
          <!-- <hr width="80%"> -->

          <div class="filterStyle" flex layout="vertical" layout-align="center center">
            What kind of pet(s) do you need watched?
            <div flex layout="horizontal" layout-align="center center">
              <material-checkbox ng-model="dogFilter" ng-click="petSitter.petToWatchObject.dog=!petSitter.petToWatchObject.dog" aria-label="Checkbox 1">
                Dog
              </material-checkbox>

              <material-checkbox ng-model="catFilter" ng-click="petSitter.petToWatchObject.cat=!petSitter.petToWatchObject.cat" aria-label="Checkbox 2">
                Cat
              </material-checkbox>
            </div>
          </div>
        </div>

      </section>
    </material-toolbar>
  </div>
  
  <div flex class="search-layout">

    <div id="wrapper" style="overflow: hidden; width: 100%">
        <div class="box1 repeated-item" ng-repeat="sitter in sitters | matchMaxPrice:maxPrice | dogFilterer:dogFilter:catFilter | orderBy:'-rating'">
          <div ng-click="GoToProfile(sitter)" style="width: 100%; height: 100%; cursor: pointer;">
          <p class="sitter-card-city">{{sitter.name}}</p>
          <center>
            <img class="image-style" ng-src="{{sitter.photo}}">
          </center>
          <div style="text-align: center;">
            <img style="margin: 3px" ng-repeat="item in getRating(sitter) track by $index" ng-src={{item}}>
          </div>
        <div class="box2">
          <p class="sitter-card-name">{{sitter.location}}</p>
          <div class="divider"></div>
          <div layout="horizontal">
            <div flex>
              <img class="pet" src="../assets/images/greencat.png" ng-show="{{sitter.cats}}">
              <div ng-show="{{sitter.cats}}" class="petIcon">will watch</div>
              <img class="pet" src="../assets/images/redcat.png" ng-hide="{{sitter.cats}}">
              <div ng-hide="{{sitter.cats}}" class="petIcon">won't watch</div>
            </div>
            <div flex>
              <p class="sitter-card-rate">${{sitter.cost}}</p>
              <p class="perday">purr day</p>
            </div>
            <div flex>
              <img class="pet" src="../assets/images/greendog.png" ng-show="{{sitter.dogs}}">
              <div ng-show="{{sitter.dogs}}" class="petIcon">will watch</div>
              <img class="pet" src="../assets/images/reddog.png" ng-hide="{{sitter.dogs}}">
              <div ng-hide="{{sitter.dogs}}" class="petIcon">won't watch</div>
            </div>
          </div>
        </div>
      </div>
  </div>
    </div>
  </div>
</div>
