<div ng-controller="NavbarController" style="color: white" layout="vertical" layout-fill>
  <material-toolbar class="materialToolbar">
    <div class="material-toolbar-tools">
      <img src="./assets/images/paw-logo.png"><h1 class="navbarTitle" ng-click="goHome()">petopia</h1>
      <span flex></span>
      <material-button class="materialButton" ng-if="!isLoggedIn()" ng-click="signup($event)">
        <p>Sign Up</p>
      </material-button>
      <material-button class="materialButton" ng-if="!isLoggedIn()" ng-click="login($event)">
        <p>Log In</p>
      </material-button>
      <material-button class="materialButton" ng-if="isLoggedIn()">
        <p>{{ user }}</p>
      </material-button>
      <material-button class="materialButton" ng-if="isLoggedIn()" ng-click="logout()">
        <p>Log Out</p>
      </material-button>
      <material-content class="navbarMaterialContent">
        <div class="becomeSitterNavbar" ng-click="becomeSitter()">
          <p>Become A Sitter</p>
        </div>
      </material-content>
    </div>
  </material-toolbar>
</div>