.materialToolbar {
  max-height: 48px;
  min-height: 48px;
}

.materialToolbar h1 {
  font-size: 28px;
  text-align: center;
}

.material-toolbar-tools .materialButton {
  margin: 0;
  padding: 16px .75% 0 .75%;
}

.material-toolbar-tools .materialButton p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.material-toolbar-tools .navbarTitle {
  font-size: 28px;
}

.login-button-customize {
  width: 150px;
  height: 40px;
  color: white;
  margin-top: 15px;
  padding-top: 10px;
}

.otherbar {
  background: blue;
}

.facebook-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}

.materialButton {
  margin: 0;
  padding: 0;
  max-height: 48px;
  min-height: 48px;
  text-transform: none;
}

.materialButton:hover {
  background-color: #131313;
  opacity: 0.5;
}

.material-toolbar-tools .navbarMaterialContent {
  margin-right: 1%;
}

.navbar {
  width: 100%;
  border-bottom: 2px solid black;
  background-color: white;
  opacity: .7;
  font-family: sans-serif;
}

.navbarTitle:hover {
  cursor: pointer;
}

.becomeSitterNavbar {
  display: block;
  height: 30px;
  text-align: center;
  background-color: #4b7b91;
  border-radius: 3px;
  color: white;
}

.becomeSitterNavbar p {
  padding: 6px;
  font-size: 0.75em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.becomeSitterNavbar:hover {
  cursor: pointer;
  background-color: #5BB4E5;
  color: white;
}

.becomeSitterNavbar .material-button-inner {
  color: #00FFD2;
}

.popupP {
  text-align: center;
}

.popupSpan {
  color: #4285f4;
  text-decoration: underline;
}

.popupSpan:hover {
  cursor:pointer;
}
