.navbar {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid black;
  background-color: white;
  opacity: .7;
  font-family: sans-serif;
}

.nav1, .nav2, .nav3 {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 33.3%;
  height: 100%;
}

.nav2 h1 {
  margin-top: 4px;
  padding: 0;
  text-align: center;
}

.nav2 h1:hover {
  cursor: pointer;
}

.signUpNavbar, .logInNavbar, .userNavbar, .logOutNavbar {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 33.3%;
  height: 100%;
  text-align: center;
}

.signUpNavbar:hover, .logInNavbar:hover, .userNavbar:hover, .logOutNavbar:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}