<div ng-controller="NavbarController" class="navbar">
  <div class="nav1">
    <h1 ng-click="goHome()">petopia</h1>
  </div>
  <div class="nav2">
  </div>
  <div class="nav3">
    <div class="signUpNavbar" ng-if="!loggedIn" ng-click="dialog($event)"><p>Sign Up</p></div>
    <div class="logInNavbar" ng-if="!loggedIn" ng-click="callPopup(logIn)"><p>Log In</p></div>
    <div class="userNavbar" ng-if="loggedIn"><p>*Username*</p></div>
    <div class="logOutNavbar" ng-if="loggedIn"><p>Log Out</p></div>
    <div class="sitterContainer">
      <div class="becomeSitterNavbar" ng-click="becomeSitter()"><p>Become A Sitter</p></div>
    </div>
  </div>
</div>
