<div ng-controller="PrivateProfileController">
  <div class="rating-popup-style">
    <material-dialog aria-label="Rating Form">
        Rating: {{rating}}
      <section layout="vertical" layout-sm="horizontal" layout-align="center center">
        <material-button ng-click="submitRating(1)" class="material-button-fab">1
        </material-button>
        <material-button ng-click="submitRating(2)" class="material-button-fab">2
        </material-button>
        <material-button ng-click="submitRating(3)" class="material-button-fab">3
        </material-button>
        <material-button ng-click="submitRating(4)" class="material-button-fab">4
        </material-button>
        <material-button ng-click="submitRating(5)" class="material-button-fab">5
        </material-button>
    </section>
    </material-dialog>
  </div>
</div>