<material-dialog aria-label="Signup Form">
  <div class="dialog-content">
    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <material-button class="material-button-raised material-button-colored">Facebook Login Button</material-button>
    </section>
    <material-content>
     <form style="padding-left: 20px;">
        <ig fid="i1" label="Username" class="material-input-group-theme-light"></ig>
        <ig fid="i2" label="Password" class="material-input-group-theme-light-blue"></ig>
      </form>
    </material-content>
    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <material-button ng-click="close()">Okay</material-button>
    </section>
  </div>
</material-dialog>