.pet-sitter-header {
  text-align: center;
  background: white;
  padding: 40px;
  margin: 0;
}

.pet-sitter-body {
  border-top:1px solid #3d7899;
  background:#CEE2E5;
}

.become-sitter-body {
  background-color: #CEE2E5;
  padding-top: 5px;
  height: 500px;
}

button.sub {
  background-color: #EC6F72;
  width: 150px;
  height: 40px;
  color: white;
  padding-top: 10px;
  outline: none;
  margin-bottom: 5%;
}

button:hover.sub {
  background-color: #FFD0A6;
}

button:disabled.sub {
  color: white;
  background-color: #ddd;
}

.pet-sitter-select {
  margin-top: 20px;
  margin-bottom: 20px;
}

.private-button-customize {
  margin: auto 125px;
  width: 100px;
  height: 40px;
  color: white;
  padding-top: 10px;
}

.becomeFormClass {
  margin-top: 1%;
}

.becomeFormClass label {
  margin-left: 10px;
  font-size: 1.5em;
  color: gray;
}

.becomeFormClass input {
  padding: 5px;
  width: 300px;
}