<div ng-include=" 'scripts/components/navbar/navbar.html' "></div>
<div ng-controller="BecomeSitterController">


  <div layout="vertical" layout-align="center" class="pet-sitter-header">
    <div>
      <h1>Become a pet sitter.</h1>
    </div>
    <div>
      Petopia allows you to make money by watching pets in your area.
    </div>
  </div>

  <div class="pet-sitter-body">
    <material-content layout="horizontal" layout-align="center" style="overflow-y: hidden">
      <form ng-submit="setPetSitterInfo(petSitter)" class="becomeFormClass">
        <ig fid="t1" label="Name" type="text" value="{{petSitter.name}}" ng-model="petSitter.name" class="material-input-group-theme-light material-input-group-inverted"></ig>
        <ig fid="t2" label="Location" type="text" value="{{petSitter.userLocation}}" ng-model="petSitter.userLocation" label="Location" class="material-input-group-theme-light material-input-group-inverted"></ig>
        <ig fid="t3" label="Bio" type="text" value="{{petSitter.bio}}" ng-model="petSitter.bio" label="Bio" class="material-input-group-theme-light material-input-group-inverted"></ig>
        <ig fid="t4" label="Daily Rate" type="text" value="{{petSitter.dailyRate}}" ng-model="petSitter.dailyRate" label="Daily Rate" class="material-input-group-theme-light material-input-group-inverted"></ig>
      
        <div class="pet-sitter-select">Select the type of pet(s) you want to watch:</div>
        <material-checkbox ng-click="petSitter.petToWatchObject.dog=!petSitter.petToWatchObject.dog" aria-label="Checkbox 1">
          Dog
        </material-checkbox>

        <material-checkbox ng-click="petSitter.petToWatchObject.cat=!petSitter.petToWatchObject.cat" aria-label="Checkbox 2">
          Cat
        </material-checkbox>
        <material-button class= "button-call-to-action-color private-button-customize">Submit</material-button>
        <!-- <material-button class="material-button-raised material-button-colored" layout="horizontal">Submit</material-button> -->
      </form>
    </material-content>
  </div>

</div>
