.splashBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
  background-image: url('../../assets/images/puppiesBackground.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.splashHeader {
  color: white;
  font-family: 'Francois One', sans-serif;
  font-size: 135px;
  opacity: 0.90;
  margin-top: 10px;
}

.splashTagline {
  color: white;
  font-family: 'Francois One', sans-serif;
  font-weight: 100;
  opacity: 0.75;
  font-size: 30px;
}

.cityInputForm {
  text-align: center;
  margin-top: 5%;
}

.inputFormText {
  text-align: center;
  color: white;
  width: 310px;
  height: 60px;
  background-color: #131313;
  opacity: 0.7;
  border-radius: 4px;
  margin-bottom: 9px;
}

input[type="text"].inputFormText {
  font-size: 1.15em;
}

input[type="text"]::-webkit-input-placeholder {
  color: white;
  opacity: 0.9;
}

input[type="text"].inputFormText {
  border-width: 0 0 0 0;
}

.button-customize {
  background-color: #EC6F72;
  width: 150px;
  height: 40px;
  color: white;
  padding-top: 10px;
}

.button-customize:hover {
  background-color: #FA9397;
}

.button-customize .material-button-inner {
  color: #FFD0A6;
}

.meetTheTeamToolBar {
  margin-top:60px;
  background-color: #3D7899;
  color: white;
}

.meetTheTeamSection {
  background-color: #CEE2E5;
}



