.splashBackground {
  margin-top:-50px;
  top: 0;
  left: 0;
  background-image: url('../../assets/images/puppiesBackground.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.splashHeader {
  color: white;
  font-family: 'Francois One', sans-serif;
  font-size: 135px;
  opacity: 0.90;
  margin-top: 10px;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.splashTagline {
  color: white;
  font-family: 'Francois One', sans-serif;
  font-weight: 100;
  opacity: 0.75;
  font-size: 30px;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.cityInputForm {
  text-align: center;
  margin-top: 5%;
}

.inputFormText {
  text-align: center;
  color: white;
  width: 310px;
  height: 60px;
  background-color: #131313;
  opacity: 0.7;
  border-radius: 4px;
  margin-bottom: 9px;
}

input[type="text"].inputFormText {
  font-size: 1.15em;
}

input[type="text"]::-webkit-input-placeholder {
  color: white;
  opacity: 0.9;
}

input[type="text"].inputFormText {
  border-width: 0 0 0 0;
}

.button-customize {
  width: 150px;
  height: 40px;
  color: white;
  padding-top: 10px;
}

.meetTheTeamToolBar {
  background-color: #3D7899;
  color: white;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.meetTheTeamSection {
  background-color: #CEE2E5;
}



